:root {
    --col-bg: #fff;
    --col-on-bg: #222;
    --col-accent-a: #5f6caf;
    --col-on-accent-a: #111;
    /* [...etc] */
    --font-a: arial, helvetica, sans-serif;
    /* [...etc] */
    --spacing: 1em;
 }
 
.navigation-menu-links-container{
    display: flex;
    border: 1px solid black;
    flex-grow: 1em;
    position: relative;
    justify-content:space-evenly;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.25em;
    background-color: #FDC1B9;
    
}
.navigation-searchbox{
    background-image: url(../img/globe3.png);
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    text-align: center;
    min-height: 300px;
 
}
.search-results-container{
    border: .2em solid black;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.search-results-content{
display: flex;
flex-direction: column;
padding: 1em;
}
.search-item-paragraph{
    flex-grow: 1;
}
.search-results-image{
    
    border: 1px solid red;
    max-width: 16em;
    padding: 0.5em;
    
}

.search-box{
    background-color:white;

}
.form-container{
    text-align: left;
}
.footer-container{
    background-color: #44B37C;
}
.form-items{
    border-radius: 1em;
}
.logo{
    background-color: white;
}
.login-item{
background-color: white;
}
.signup-item{
background-color: black;
}

.search-item-link{
    background-color: #DF00A9;
    color: white;
    max-width: 6em;
    padding: 0.5em;
}


