.navigation-menu-links-container{
    display: flex;
    border: 1px solid black;
    flex-grow: 1em;
    
    justify-content:space-evenly;
}
.navigation-searchbox{
    background-image: url(/img/globe.jpeg);
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    position: relative;
    min-height: 300px;
    flex: left;
    
}
.search-results-container{
    border: .2em solid black;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    /*grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-row-gap:-11px;
    border: 1px solid blue;
    justify-content:flex-start;*/
    
}  
/*.item-a{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 5;
    align-self: stretch;
}

.item-b{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end: 5;
}
.item-c{
    grid-column-start: 3;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end: 3;
}
.item-d{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end:4;
}*/
.search-result-image{
    
    border: 1px solid red;
    
}
}
.search-box{
    background-color:white;
    border: 1px solid black;
    width: 25%;
    position: absolute;
   
   
 
}
.form-container{
    text-align: left;
}