.navigation-menu-links-container{
    display: flex;
    border: 1px solid black;
    flex-grow: 1em;
    position: relative;
    justify-content:space-evenly;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.25em;
    background-color: #FDC1B9;
    
}
.navigation-searchbox{
    background-image: url(../img/globe3.png);
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    text-align: center;
    min-height: 300px;
 
}
.search-results-container{
    border: .2em solid black;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.search-results-content{

padding: 1em;
}
.search-results-image{
padding: 1em;


.search-result-image{
    
    border: 1px solid red;
    
}
