:root {
    --col-bg-navigation: #FDC1B9;
    /*footer container color*/
    --col-bg-footer:#44B37C;

    --col-accent-a: #5f6caf;
    --col-on-link-background-a: #DF00A9;
    /* [heading font] */
    --font-a:Georgia, 'Times New Roman', Times, serif;
    /* [paragraph font] */
    --font-b:Arial, Helvetica, sans-serif;
 }


.search-box-heading{
    background-color: white;
}
.search-results-container{
    /*border: .2em solid black;*/
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
}

.search-results-image{
    padding: 0.5em;
  
}
.search-results-content{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.search-item-paragraph{
    flex-grow: 1;
    font-family: var(--font-b);
}

.seach-results, .search-box-heading, .search-item-title{

    font-family: var(--font-a);
}


/*mobile responive*/
@media screen and (min-width: 36em) {
	
	.search-results-container {
		flex-direction: row;
    }
}

    /*tablet responsive*/
    @media screen and (min-width:48em){
        .search-results-image{
        max-width: 70em;
        }
    }
    @media screen and (min-width:70em){
        .search-results-image{
        max-width: 70em;
        }
    }